@import "src/common/variables";

.stack {

  &.centerItems {
    > * {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.spacers {
    &.verySmallerSpacers {
      > * {
        margin-top: $padding-internal-xsmall;
      }
    }

    &.smallerSpacers {
      > * {
        margin-top: $padding-internal-small;
      }
    }

    &.mediumSpacers {
      > * {
        margin-top: $padding-internal-medium;
      }
    }

    &.largerSpacers {
      > * {
        margin-top: $padding-internal-large;
      }
    }

    &.veryLargerSpacers {
      > * {
        margin-top: $padding-internal-xlarge;
      }
    }

    > :first-child {
      margin-top: 0;
    }
  }
}
